body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > canvas {
  border: 5px solid brown;

  background-image: url("./images/grassbg.webp");
  background-repeat: repeat;
  background-size: 40px;
}
